* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  background-color: lightgreen;
  border: 1px solid green;
  padding: 30px 20px;
  color: green;
  border-radius: 3px;
}
